In [14]:
import pandas as pd
import numpy as np

In [15]:
data1=pd.read_csv('campus.csv')
data1

,Timestamp,What is your current year of study,What is your current relationship status?,How do you prefer studying before exams?,Do you do competitive programming?,Which hostel do you live in?,What is your gender?,What is your favourite sport?,Favourite hangout place in campus,Which state/union territory do you belong to?,What is your dept?,What is your preferred coding language?,What is your favourite place to eat at IIT Guwahati?,Which is your favourite club in IIT Guwahati?,Are you satisfied in IIT Guwahati,What is your current cpi?
0,2022/08/15 2:57:34 pm GMT+5:30,2nd,In a relationship,Pulling of all nighters :),Yes,NaN,Man,Table tennis,IIT G lake (in front of library),Haryana,CSE,C++,Rolls Mania/Tacos,Octaves,No,9.86
1,2022/08/15 2:57:46 pm GMT+5:30,3rd,Single,Studying on a regular basis,No,Manas,Man,Football,IIT G lake (in front of library),Uttar Pradesh,CST,Python,Hostel Canteen,ml.ai,No,1
2,2022/08/15 2:58:25 pm GMT+5:30,2nd,Single,Studying on a regular basis,No,Disang,Woman,Badminton,IIT G lake (in front of library),West Bengal,ECE,C,Hostel Mess,Robotics,Maybe,9.3
3,2022/08/15 2:59:33 pm GMT+5:30,2nd,Single,Pulling of all nighters :),No,NaN,Man,Football,IIT G lake (in front of library),The Government of NCT of Delhi,NaN,Python,Food Court,Coding Club,Maybe,7.5
4,2022/08/15 3:01:10 pm GMT+5:30,NaN,Single,Studying on a regular basis,No,Lohit,Man,Cricket,IIT G lake (in front of library),Uttar Pradesh,NaN,Java,Hostel Canteen,ml.ai,Yes,8.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,2022/08/20 7:12:00 am GMT+5:30,4th,Single,Studying on a regular basis,No,Manas,Man,Drone racing,New Sac,Maharashtra,ME,Python,Others,Aeromodelling,Yes,8.66
223,2022/08/20 7:46:37 am GMT+5:30,4th,Single,Studying on a regular basis,Yes,Lohit,Man,Table tennis,New Sac,Maharashtra,MnC,Others,Food Court,Aeromodelling,Maybe,9.34
224,2022/08/20 9:30:23 am GMT+5:30,2nd,Single,Studying on a regular basis,Yes,Subansiri,Woman,Tennis,Food Court,Maharashtra,CST,C++,Rolls Mania/Tacos,Coding Club,Yes,6.87
225,2022/08/20 10:44:36 am GMT+5:30,2nd,In a relationship,Studying on a regular basis,No,Disang,Woman,Badminton,Hostel Canteen,Kerala,ECE,C++,Hostel Canteen,E cell,Maybe,8.4
226,2022/08/20 10:58:27 am GMT+5:30,2nd,Single,Studying on a regular basis,Yes,Lohit,Man,Badminton,IIT G lake (in front of library),Uttar Pradesh,ECE,C++,Food Court,Coding Club,Yes,8.5

In [16]:
data1.drop(['Timestamp'],axis=1,inplace=True)

In [18]:
(data1)

,What is your current year of study,What is your current relationship status?,How do you prefer studying before exams?,Do you do competitive programming?,Which hostel do you live in?,What is your gender?,What is your favourite sport?,Favourite hangout place in campus,Which state/union territory do you belong to?,What is your dept?,What is your preferred coding language?,What is your favourite place to eat at IIT Guwahati?,Which is your favourite club in IIT Guwahati?,Are you satisfied in IIT Guwahati,What is your current cpi?
0,2nd,In a relationship,Pulling of all nighters :),Yes,NaN,Man,Table tennis,IIT G lake (in front of library),Haryana,CSE,C++,Rolls Mania/Tacos,Octaves,No,9.86
1,3rd,Single,Studying on a regular basis,No,Manas,Man,Football,IIT G lake (in front of library),Uttar Pradesh,CST,Python,Hostel Canteen,ml.ai,No,1
2,2nd,Single,Studying on a regular basis,No,Disang,Woman,Badminton,IIT G lake (in front of library),West Bengal,ECE,C,Hostel Mess,Robotics,Maybe,9.3
3,2nd,Single,Pulling of all nighters :),No,NaN,Man,Football,IIT G lake (in front of library),The Government of NCT of Delhi,NaN,Python,Food Court,Coding Club,Maybe,7.5
4,NaN,Single,Studying on a regular basis,No,Lohit,Man,Cricket,IIT G lake (in front of library),Uttar Pradesh,NaN,Java,Hostel Canteen,ml.ai,Yes,8.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,4th,Single,Studying on a regular basis,No,Manas,Man,Drone racing,New Sac,Maharashtra,ME,Python,Others,Aeromodelling,Yes,8.66
223,4th,Single,Studying on a regular basis,Yes,Lohit,Man,Table tennis,New Sac,Maharashtra,MnC,Others,Food Court,Aeromodelling,Maybe,9.34
224,2nd,Single,Studying on a regular basis,Yes,Subansiri,Woman,Tennis,Food Court,Maharashtra,CST,C++,Rolls Mania/Tacos,Coding Club,Yes,6.87
225,2nd,In a relationship,Studying on a regular basis,No,Disang,Woman,Badminton,Hostel Canteen,Kerala,ECE,C++,Hostel Canteen,E cell,Maybe,8.4
226,2nd,Single,Studying on a regular basis,Yes,Lohit,Man,Badminton,IIT G lake (in front of library),Uttar Pradesh,ECE,C++,Food Court,Coding Club,Yes,8.5

In [19]:
data1.rename(columns = {'What is your current year of study':'year', 
                     'What is your current relationship status?': 'relationship',
                     'How do you prefer studying before exams?': 'study',
                     'Do you do competitive programming?': 'CP',
                     'Which hostel do you live in?': 'hostel',
                     'What is your gender?': 'gender',
                     'What is your favourite sport?': 'sport',
                     'Favourite hangout place in campus': 'hangout_spot',
                     'Which state/union territory do you belong to?': 'state',
                     'What is your dept?': 'dept',
                     'What is your preferred coding language?': 'coding_lang',
                     'What is your favourite place to eat at IIT Guwahati?': 'fav_place_to_eat',
                     'Which is your favourite club in IIT Guwahati?': 'fav_club',
                     'Are you satisfied in IIT Guwahati': 'satisfied',
                     'What is your current cpi?': 'cpi'}, inplace = True)

data1.head()

,year,relationship,study,CP,hostel,gender,sport,hangout_spot,state,dept,coding_lang,fav_place_to_eat,fav_club,satisfied,cpi
0,2nd,In a relationship,Pulling of all nighters :),Yes,NaN,Man,Table tennis,IIT G lake (in front of library),Haryana,CSE,C++,Rolls Mania/Tacos,Octaves,No,9.86
1,3rd,Single,Studying on a regular basis,No,Manas,Man,Football,IIT G lake (in front of library),Uttar Pradesh,CST,Python,Hostel Canteen,ml.ai,No,1
2,2nd,Single,Studying on a regular basis,No,Disang,Woman,Badminton,IIT G lake (in front of library),West Bengal,ECE,C,Hostel Mess,Robotics,Maybe,9.3
3,2nd,Single,Pulling of all nighters :),No,NaN,Man,Football,IIT G lake (in front of library),The Government of NCT of Delhi,NaN,Python,Food Court,Coding Club,Maybe,7.5
4,NaN,Single,Studying on a regular basis,No,Lohit,Man,Cricket,IIT G lake (in front of library),Uttar Pradesh,NaN,Java,Hostel Canteen,ml.ai,Yes,8.83

In [21]:
print(data1['relationship'].unique())

['In a relationship' 'Single' "It's complicated" nan]

In [22]:
data1['relationship'].replace('In a relationship', 'relationship', inplace=True)
data1['relationship'].replace("It's complicated", 'complicated', inplace=True)

print('Unique values in relationship column after replacements:')
print(data1['relationship'].unique())

Unique values in relationship column after replacements:
['relationship' 'Single' 'complicated' nan]

In [24]:
data1['relationship'].value_counts().sum()

225

In [25]:
data1['relationship'].shape

(227,)

In [26]:
data1['relationship'].fillna(value='Undisclosed',inplace=True)

In [27]:
data1.relationship.value_counts()

relationship
Single          157
relationship     41
complicated      27
Undisclosed       2
Name: count, dtype: int64

In [28]:
print('Unique values in hangout spot column:')
print(data1['hangout_spot'].unique())
print()

data1['hangout_spot'].replace('IIT G lake (in front of library)', 'IITG_Lake', inplace=True)
data1['hangout_spot'].replace('Serpentine Lake 😏', 'serpentine;)', inplace=True)
data1['hangout_spot'].replace('Lake in front of the hospital', 'Tihor_lake', inplace=True)
data1['hangout_spot'] = data1['hangout_spot'].str.replace(' ', '_')

print('Unique values in hangout spot column after replacements:')
print(data1['hangout_spot'].unique())

Unique values in hangout spot column:
['IIT G lake (in front of library)' 'Food Court' 'Hostel Canteen' 'Khoka'
 'Serpentine Lake 😏' nan 'New Sac' 'Old Sac' 'Playgrounds'
 'Lake in front of the hospital' 'Market Complex' 'Others']

Unique values in hangout spot column after replacements:
['IITG_Lake' 'Food_Court' 'Hostel_Canteen' 'Khoka' 'serpentine;)' nan
 'New_Sac' 'Old_Sac' 'Playgrounds' 'Tihor_lake' 'Market_Complex' 'Others']

In [30]:
data1['state'].replace('The Government of NCT of Delhi', 'Delhi', inplace=True)
data1['fav_place_to_eat'].replace('None', np.nan, inplace=True)
data1['fav_club'].replace('ml.ai', 'iitg.ai', inplace=True)
data1['hostel'].replace('Bhramaputra', 'Brahmaputra', inplace=True)

In [31]:
def isfloat(x):
    try:
        float(x)
        return True
    except:
        return False
    
for i in data1.index:
    if isfloat(data1.loc[i, 'cpi']):
        data1.loc[i, 'cpi'] = float(data1.loc[i, 'cpi'])
    else:
        data1.loc[i, 'cpi'] = np.nan
        
        # Values of cpi outside range 4-10 is considered fake
    if (data1.loc[i, 'cpi'] >= 10) | (data1.loc[i, 'cpi'] <= 4):
        data1.loc[i, 'cpi'] = np.nan

In [32]:
data1

,year,relationship,study,CP,hostel,gender,sport,hangout_spot,state,dept,coding_lang,fav_place_to_eat,fav_club,satisfied,cpi
0,2nd,relationship,Pulling of all nighters :),Yes,NaN,Man,Table tennis,IITG_Lake,Haryana,CSE,C++,Rolls Mania/Tacos,Octaves,No,9.86
1,3rd,Single,Studying on a regular basis,No,Manas,Man,Football,IITG_Lake,Uttar Pradesh,CST,Python,Hostel Canteen,iitg.ai,No,NaN
2,2nd,Single,Studying on a regular basis,No,Disang,Woman,Badminton,IITG_Lake,West Bengal,ECE,C,Hostel Mess,Robotics,Maybe,9.3
3,2nd,Single,Pulling of all nighters :),No,NaN,Man,Football,IITG_Lake,Delhi,NaN,Python,Food Court,Coding Club,Maybe,7.5
4,NaN,Single,Studying on a regular basis,No,Lohit,Man,Cricket,IITG_Lake,Uttar Pradesh,NaN,Java,Hostel Canteen,iitg.ai,Yes,8.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,4th,Single,Studying on a regular basis,No,Manas,Man,Drone racing,New_Sac,Maharashtra,ME,Python,Others,Aeromodelling,Yes,8.66
223,4th,Single,Studying on a regular basis,Yes,Lohit,Man,Table tennis,New_Sac,Maharashtra,MnC,Others,Food Court,Aeromodelling,Maybe,9.34
224,2nd,Single,Studying on a regular basis,Yes,Subansiri,Woman,Tennis,Food_Court,Maharashtra,CST,C++,Rolls Mania/Tacos,Coding Club,Yes,6.87
225,2nd,relationship,Studying on a regular basis,No,Disang,Woman,Badminton,Hostel_Canteen,Kerala,ECE,C++,Hostel Canteen,E cell,Maybe,8.4
226,2nd,Single,Studying on a regular basis,Yes,Lohit,Man,Badminton,IITG_Lake,Uttar Pradesh,ECE,C++,Food Court,Coding Club,Yes,8.5

In [34]:
data1['hostel'].isnull().sum()

7

In [35]:
data1['hostel'].fillna(value='No hostel',inplace=True)

In [36]:
data1.hostel.isnull().sum()

0

In [39]:
data1['sport'].isnull().sum()

33

In [42]:
data1.loc[data1['year']=='1st',:]

,year,relationship,study,CP,hostel,gender,sport,hangout_spot,state,dept,coding_lang,fav_place_to_eat,fav_club,satisfied,cpi
89,1st,complicated,Studying on a regular basis,No,Dibang,Prefer not to say,NaN,NaN,Andaman and Nicobar Islands,NaN,NaN,Nonveg stalls near library,Equinox,Maybe,9.9
109,1st,Single,Pulling of all nighters :),No,Disang,Woman,Badminton,IITG_Lake,Uttar Pradesh,MnC,C++,Others,Cadence,Yes,NaN
111,1st,relationship,Studying on a regular basis,No,Manas,Man,Cricket,IITG_Lake,Madhya Pradesh,ME,Python,Hostel Canteen,Finance and Economics,Yes,7.9
116,1st,Single,Studying on a regular basis,No,Lohit,Man,Cricket,IITG_Lake,West Bengal,CSE,C++,Food Court,Coding Club,Yes,NaN
120,1st,Single,Studying on a regular basis,No,Barak,Man,Running,Others,NaN,ME,NaN,Hostel Mess,Robotics,Yes,NaN
130,1st,Single,Studying on a regular basis,No,Manas,Man,Football,IITG_Lake,Delhi,ME,Python,Food Court,IITG Racing,Maybe,7.0
137,1st,Single,Studying on a regular basis,No,Brahmaputra,Man,Chess,Market_Complex,Bihar,CSE,Java,Hostel Mess,Coding Club,Yes,NaN
140,1st,Single,Pulling of all nighters :),No,Siang,Man,Swimming,serpentine;),Assam,CSE,C,Food Court,Coding Club,Yes,9.0

In [44]:
data1.sport.unique()

array(['Table tennis ', 'Football', 'Badminton', 'Football ', 'Cricket',
       'Cricket ', 'Basketball', 'Chess', 'Athletic ', 'Sex',
       'Basketball ', 'Swimming', 'Athletics ', 'Swimming ', nan,
       'Volleyball', 'Badminton ', 'Tennis', 'none', 'hockey',
       'Athletics', 'Nothing',
       'to watch is cricket and basketball, to play is volleyball',
       'Volleyball ', 'Archery', 'Table tennis', 'WWE ', 'Dodgeball',
       'Bro?', 'table tennis', 'Handball', 'Barricade riding', 'GYMMING ',
       'LT', 'Figure Skating ', 'Table Tennis', 'chess', 'CRICKET',
       'Tennis ', 'basketball ', 'Cricket,badminton', 'Running', 'TT',
       'Kabaddi', 'People Gazing', 'Table Tennis ', 'Bike riding',
       'Cricket, Football, Swimming, Tennis.', 'cricket', 'Coding',
       'badminton', 'tt', 'swimming', 'No sport lol', 'Badminton lol',
       'Swimming and badminton', 'futbol', 'Cricket,volleyball',
       'Bat-Ball', 'Gymnastics ', 'Na', 'Playing with my mental health',
       'Genshin Impact', 'Squash', 'Drone racing '], dtype=object)

In [45]:
data1.dept.unique()

array(['CSE', 'CST', 'ECE', nan, 'EP', 'ME', 'CE', 'MnC', 'CL', 'EEE',
       'BSBE', 'HSS', 'Dsai'], dtype=object)

In [52]:
from numpy import NaN


data1.loc[data1['dept'].isnull(),:]

,year,relationship,study,CP,hostel,gender,sport,hangout_spot,state,dept,coding_lang,fav_place_to_eat,fav_club,satisfied,cpi
3,2nd,Single,Pulling of all nighters :),No,No hostel,Man,Football,IITG_Lake,Delhi,NaN,Python,Food Court,Coding Club,Maybe,7.5
4,NaN,Single,Studying on a regular basis,No,Lohit,Man,Cricket,IITG_Lake,Uttar Pradesh,NaN,Java,Hostel Canteen,iitg.ai,Yes,8.83
20,NaN,Single,Studying on a regular basis,Yes,Brahmaputra,Man,Football,serpentine;),West Bengal,NaN,C,Hostel Mess,Coding Club,Yes,NaN
29,2nd,Single,Pulling of all nighters :),No,Umiam,Man,NaN,Khoka,Maharashtra,NaN,Python,Khoka,NaN,Yes,8.85
42,2nd,Single,Pulling of all nighters :),Yes,Siang,Man,NaN,NaN,NaN,NaN,Python,NaN,NaN,No,6.0
55,3rd,Single,Pulling of all nighters :),Yes,Brahmaputra,Man,NaN,New_Sac,Maharashtra,NaN,C++,NaN,Coding Club,Maybe,NaN
56,2nd,Single,Studying on a regular basis,Yes,No hostel,Man,NaN,NaN,NaN,NaN,C++,NaN,NaN,Yes,9.71
59,2nd,Single,Pulling of all nighters :),Yes,Brahmaputra,Man,Bro?,New_Sac,Rajasthan,NaN,C++,Khoka,iitg.ai,Maybe,NaN
78,2nd,Single,Studying on a regular basis,Yes,Lohit,Man,Badminton,Playgrounds,Uttar Pradesh,NaN,C++,Hostel Canteen,Aeromodelling,No,7.9
89,1st,complicated,Studying on a regular basis,No,Dibang,Prefer not to say,NaN,NaN,Andaman and Nicobar Islands,NaN,NaN,Nonveg stalls near library,Equinox,Maybe,9.9
202,2nd,Single,Pulling of all nighters :),No,Dibang,Man,NaN,New_Sac,NaN,NaN,NaN,NaN,NaN,Yes,8.38